.line-graph {
  max-width: 800px;
  height: 500px;
}
.line-graph h1 {
  font-family: arial;
  padding-left: 25px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
}
#graph {
  width: 100%;
  height: 100%;
}
#legend text {
  font-family: arial;
  font-weight: bold;
}
#legend text:hover {
  fill: blue;
  cursor: pointer;
}

.out-of-range {
  fill: #ddd;
  stroke: black;
}
.in-range {
  fill: #aaf;
}

.value-tooltip {
  fill: #448;
}
.value-tooltip text {
  fill: white;
}

.series-line {
  stroke-width: 3;
}
.series-point {
  stroke-width: 1.5;
  cursor: pointer;
}


.series0-line {
  stroke: red;
}
.series0-point {
  fill: darkred;
  stroke: red;
}

.series1-line {
  stroke: green;
}
.series1-point {
  fill: #002800;
  stroke: green;
}

.series2-line {
  stroke: yellow;
}
.series2-point {
  fill: #cc3;
  stroke: yellow;
}

.series3-line {
  stroke: blue;
}
.series3-point {
  fill: darkblue;
  stroke: blue;
}

.series4-line {
  stroke: magenta;
}
.series4-point {
  fill: darkmagenta;
  stroke: magenta;
}

.series5-line {
  stroke: orange;
}
.series5-point {
  fill: #b70;
  stroke: orange;
}

.series6-line {
  stroke: gray;
}
.series6-point {
  fill: #333;
  stroke: gray;
}
